@media only screen and (max-width: 470px) {
  .dish-previous-button {
    display: none;
  }
  .dish-next-button {
    display: none;
  }

  .main-component-dishes {
    flex-direction: column;
  }

  .image-dish {
    width: 450px;
    height: 450px;
    position: absolute;
    margin-bottom: 160%;
  }

  .window-one-dishes {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 80%;
    padding: 5%;
    margin-top: 140%;
  }

  .window-two-dishes {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: rgba(0, 32, 36, 1);
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .main-text-dish {
    font-weight: 300;
    font-size: 48px;
    line-height: 90%;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 4%;
    margin-bottom: 7%;
    color: #ffffff;
  }

  .adaptive-dishes-top-menu-img {
    position: absolute;
    display: block;
    padding-bottom: 40%;
    top: 14%;
    left: 37%;
  }

  .dots-indicator {
    width: 15px;
    height: 15px;
  }

  .peculiarities-text {
    background: rgba(0, 32, 36, 1);
    font-size: 22px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #91793a;
  }

  vaadin-text-field > label {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #91793a;
  }

  vaadin-text-field > input {
    font-size: 16px;
    letter-spacing: 0.1em;
  }

  .calories-text {
    width: 100%;
    font-size: 20px;
    line-height: 100%;
    color: #a0aeaf;
    margin: 0;
  }

  .protein-text{
    font-size: 18px;
    width: 35%;
    line-height: 100%;
    color: #a0aeaf;
    margin: 0;
  }

  .fats-text {
    font-size: 18px;
    line-height: 100%;
    width: 27%;
    color: #a0aeaf;
  }

  .carbohydrates-text {
    font-size: 18px;
    line-height: 100%;
    width: 28%;
    color: #a0aeaf;
  }

  .price-dish {
    padding: 11px;
    width: 70%;
    font-size: 30px;
  }

  .main-dishes-text {
    background: rgba(0, 32, 36, 1);
    padding-bottom: 5%;
    font-size: 22px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #91793a;
  }
}
