.dish-short-item-main {
  
  position: relative;
  width: 245px;
  padding: 10px 12px 0 0px;
  display: flex;
  background-repeat: no-repeat;
}

.dishes-container {
  margin-top: -10px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 12px;
}


.dish-short-item-title {
  position: relative;
  top:10px;
  font-size: 12px;
  color: rgba(127, 110, 55);
}

.dish-short-item-description {
  position: relative;
  top:20px;
  text-align: center;
  white-space:break-spaces;
  font-size: 10px;
  color: rgba(127, 110, 55);
}

.dish-short-item-image {
  position: relative;
  top: 0px;
  width: 70px;
  height: 67px;
  background-repeat: no-repeat;
}

.menu-image-column {

}
