build
!**/dev-bundle/webapp/VAADIN/build
.idea
.gradle

# The following files are generated/updated by vaadin-gradle-plugin
node_modules/
webpack.generated.js
target
out
pnpmfile.js
.npmrc
frontend/generated
bin/main/it/mifsoft/signature/web/MainLayout.class
bin/main/it/mifsoft/signature/web/MainLayout.class
bin/main/it/mifsoft/signature/web/MainLayout.class
*.class
bin/main/it/mifsoft/signature/web/forms/ReserveForm.class
bin/main/it/mifsoft/signature/web/ui/FooterView.class
bin/main/it/mifsoft/signature/web/list/AchievementsList.class
bin/main/it/mifsoft/signature/web/MainLayout.class
bin/main/it/mifsoft/signature/web/page/WelcomePage.class
*.class
*.class
