.window-items{
    display: grid;
    padding: 5px;
}

.window-main-items {
    display: grid;
    padding: 5px;
}

.window-one-items{
    padding: 5px;
}

.window-two-items{
    padding: 5px;
}

.window-tree-items{
    display: grid;
    padding: 5px;
}

.window{
    display: -webkit-inline-box;
    justify-content: unset;
    flex-direction: column;
    background: #002024;
    border-radius: 15px;
    padding: 35px 0 0 10px;
}

.vertical-separator {
    height: 63vh;
    padding-left: 15px;
}

.vine-items-container{
    padding-left: 40px;
}

.mainWindow{
    margin: 10px 0px 0px 0px;
    border: none;
    border-radius: 0;
    color: rgba(127, 110, 55);
    background-color: transparent;
    font-size: 25px;
}

.subMain {
    margin: 0;
    border: none;
    border-radius: 0;
    font-size: 15px;
    color: rgba(127, 110, 55);
    background-color: transparent;   
    
}

.sparklingWineOrChampagne{
    width: 40%;
    margin-right: 5%;
    font-size: 11px;
    border-bottom: 1px solid rgba(127, 110, 55);

}

.region{
    width: 40%;
    margin-right: 5%;
    font-size: 11px;
    border-bottom: 1px solid rgba(127, 110, 55);
}

.grape{
    width: 100%;
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.fortress{
    width: 18%;
    margin-right: 5%;
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.volume{
    width: 24%;
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.perfectFor{
    font-size: 11px;
    color: rgba(160, 174, 175, 1);

    border-bottom: 1px solid rgba(127, 110, 55);
}

.andAlso{
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.manufacturer {
    width: 48%;
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.signUpForATasting{
    font-size: 15px;
    cursor: pointer;
    color: rgba(160, 174, 175, 1);
    width: 55%;
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
}

.left-side{
    display: grid;
    justify-content: center;
    width: 50vw;
    
}

.right-side{
}

.vines-list-main{
    padding: 40px;
    display: flex;
}

.vines-top-img {
    display: none;
}

vaadin-text-field::part(label){
    font-size: 14px;
    color: rgba(145, 121, 58, 1);
}

vaadin-text-area::part(label){
    font-size: 14px;
    color: rgba(145, 121, 58, 1);
}

vaadin-text-area > textarea {
    color: rgba(160, 174, 175, 1);
}


vaadin-text-field::part(input-field){
    color: rgba(160, 174, 175, 1);
    border: none;
    border-radius: 0;
    background-color: transparent;   
}

@media(max-width: 489px) {

    .vines-top-img {
        position: relative;
        display: block;
        margin-bottom: 10px;
        left: 12%;
    }

    .vines-list-main{
        padding: 40px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .left-side{
        width: 80vw;
        display: grid;
    }

    .window-one-items{
        padding: 5px;
    }

    .window{
        display: -webkit-inline-box;
        background: #002024;
        border-radius: 15px;
        padding: 1px 10px 0 10px;
        width: 100%;
    }

    .region{
        width: 100%;
        margin-right: 5%;
        font-size: 11px;
        border-bottom: 1px solid rgba(127, 110, 55);
    }

    .fortress{
        display: none;
    }

    .manufacturer {
        display: none;
    }

    .volume{
        display: none;
    }

    .sparklingWineOrChampagne{
        width: 70vw;
        margin-right: 5%;
        font-size: 11px;
        border-bottom: 1px solid rgba(127, 110, 55);
    }

    .vine-items-container{
        padding-left: 0;
    }

    .signUpForATasting{
        font-size: 15px;
        cursor: pointer;
        color: rgba(160, 174, 175, 1);
        width: 90%;
        border-width: 1px;
        border-style: solid;
        border-color: aliceblue;
        border-radius: 10px;
        margin: 10px 10px 10px 20px;
    }

    .vertical-separator {
        display: none;
        height: 54vh;
        padding-left: 15px;
    }
}
