.achievements-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.achievements-top-img{
    display: none;
}

.achievement-reserve-a-table{
    display: none;
}

.achievment-main {
    position: relative;
    min-height: calc(65vh - 1vh);
    min-width: 300px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 20px;
}

.image-achievements{
    display: flex;
    justify-content: center;
    width: 100%;
}

.achievment-title {
    padding-top: 10%;
    width: 100%;
    font-size: 25px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.achievment-subtitle{
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.achievment-description{
    font-size: 13px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    /* overflow-y: scroll; */
    height: auto;
    bottom: 5px;
    position: relative;

}

.achievment-reserve-button {
    background-color: rgba(105, 78, 37, 0);
    color: rgb(238, 238, 238);
    width: 200px;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: aliceblue;
    
}

.achievment-paragraph {
    color: aliceblue;
}

.content-some-class-name {
    padding: 10% 14%;
    color: aliceblue;
    height: 100px;
    text-align: center;

}

.archiveListItem {
    color: aliceblue;
    background-color: yellowgreen;
}

.achievments-item {
    
    background-color: rgb(10, 96, 172);
}

@media(max-width: 470px) {

    .achievements-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 430px;
        padding: 150px 10px 10px 10px;
    }
    

    .achievements-top-img{
        position: absolute;
        display: block;
        padding-bottom: 40%;
        top: 13%;
        left: 40%;
        align-items: center;
    }
    

    .achievment-main {
        position: relative;
        min-height: calc(65vh - 1vh);
        min-width: 300px;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .achievement-reserve-a-table {
        display: flex;
        justify-content: center;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        border: 2px solid #FFFFFF;
        color: rgb(238, 238, 238);
        backdrop-filter: blur(20px);
        border-radius: 15px;
        font-size: 26px;
        line-height: 40px;
        padding: 40px;
        font-weight: 200;
        left: 10px;
    }
}