@media only screen and (max-width: 470px) {
  .contacts-main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .contacts-container {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0px;
  }

  .map-container-view {
    display: none;
  }
  .adaptive-map {
    position: absolute;
    top: 50px;
    left: 0;
  }
  .footer {
    position: absolute;
    display: flex;
    height: 333px;
    background: linear-gradient(
      to bottom,
      rgba(3, 45, 50, 1) 33%,
      rgba(0, 32, 36, 1) 30%
    );
  }

  .adaptive-social-container {
    top: 62.5%;
    position: absolute;
  }
  .adaptive-copy-rights-text {
    position: absolute;
    top: 80%;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    text-align: center;
    color: #a0aeaf;
  }

  .adaptive-address-info-text {
    display: none;
  }

  .adaptive-contacts-address-info-text{
    position: absolute;
    top: 39%;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    white-space: break-spaces;
    text-align: center;
    color: #d5d7d2;
  }

  .adaptive-contacts-logo{
    width: 163px;
    height: 65px;
    position: absolute;
    top: 16%;
  }

  /*////////- HIDE ELEMETS -////////*/
  .social-container {
    display: none;
  }
  .address-info-text {
    display: none;
  }
  .admin-label-text {
    display: none;
  }
  .phone-info-text {
    display: none;
  }
  .copy-rights-text {
    display: none;
  }
}
