@media only screen and (max-width: 470px) {
  @keyframes blink {
    0% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*////////////- CSS FROM MAIN -////////////*/
  .exposition-button {
    visibility: collapse;
  }
  .menu-button {
    visibility: collapse;
  }
  .guest-button {
    visibility: collapse;
  }
  .contacts-button {
    visibility: collapse;
  }
  .about-us-button {
    visibility: collapse;
  }
  .vine-gallery-button {
    visibility: collapse;
  }
  .exposition-line {
    visibility: collapse;
  }
  .bron-line {
    visibility: collapse;
  }
  .contacts-line {
    visibility: collapse;
  }
  .guest-line {
    visibility: collapse;
  }
  .vine-gallery-line {
    visibility: collapse;
  }
  .menu-line {
    visibility: collapse;
  }
  .menu-item {
    visibility: collapse;
  }
  .column-container {
    width: 470px;
  }
  .content-img {
    visibility: collapse;
  }
  .footer-contacts {
    visibility: collapse;
  }
  .footer-logo {
    visibility: collapse;
  }
  /*//////- MAIN ADAPTIVE CSS -//////*/
  .mainFirstMobileImg {
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    visibility: visible;
    animation: blink 9s infinite;
    opacity: 0;
  }
  .mainSecondMobileImg {
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    visibility: visible;
    animation: blink 9s infinite;
    animation-delay: 3s;
  }
  .mainThirdMobileImg {
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    visibility: visible;
    animation: blink 9s infinite;
    animation-delay: 6s;
  }
  .mobile-header-gradient {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.9;
    display: block;
  }
  .mobile-menu-button {
    position: absolute;
    cursor: pointer;
    left: 28px;
    top: 42px;
    z-index: 1;
    width: 24px;
    height: 20px;
    display: block;
  }
  .expandable-button {
    position: absolute;
    width: 382px;
    height: 80px;
    cursor: pointer;
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    border-color: white;
    border-radius: 10px;
    color: white;
    border-style: solid;
    border-width: 1px;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 0.05em;
    padding: 20px 15px 20px 15px;
    z-index: 0;
  }

  .five-top-empty-column {
    position: absolute;
    top: 38%;
    left: 9%;
    width: 470px;
    height: 470px;
  }

  .bron-button {
    position: absolute;
    width: 12%;
    border-top-left-radius: 0;
    font-size: 14px;
    left: 3.29%;
    top: 34%;
}

  /*/////////////- HEADER -/////////////*/
  .header-logo {
    z-index: 10;
    width: 250px;
    height: 79px;
    left: 25%;
    position: relative;
  }
  .header {
    width: 100%;
  }
  /*/////////////////////////////*/
  .column-container {
    height: 75%;
  }
  /*/////////////ADAPTIVE FOOTER////////////////*/
  .close-menu-btn {
    position: absolute;
    top: 2.5%;
    left: 4%;
    z-index: 1000;
    cursor: pointer;
    display: block;
  }

  .adaptive-address-info-text {
    display: block;
  }

  .footer {
    top: 79%;
    position: relative;
    display: flex;
    height: 200px;
    display: block;
    background-image: linear-gradient(rgb(3, 45, 50) 50%, rgb(0, 32, 36) 50%);
  }
  .footer-button {
    display: none;
  }
  .adaptive-admin-label-text {
    display: block;
    position: absolute;
    color: rgba(145, 121, 58, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    top: 17px;
    left: 44px;
  }
  .adaptive-phone-info-text {
    display: block;
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 30px;
    top: 52px;
    left: 44px;
  }
  .adaptive-address-info-text {
    visibility: visible;
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    top: 67%;
    left: 44px;
  }
  .adaptive-phone-button-img {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 24px;
  }

  .menu-item-main:nth-child(-n + 4) {
    color: rgba(160, 174, 175, 1);
    background-color: rgba(3, 45, 50, 0.568);
  }

  .menu-item-main:nth-child(6) {
    color: rgba(160, 174, 175, 1);
    background-color: rgba(3, 45, 50, 0.568);
  }

  .menu-list-container {
    position: absolute;
    background: linear-gradient(
      211.45deg,
      #003c48 12.18%,
      rgba(3, 23, 28, 0.58) 30.02%,
      rgba(23, 18, 5, 0.435309) 50.42%,
      rgba(145, 121, 58, 0.28) 63.67%,
      rgba(0, 0, 0, 0.51) 84.87%
    );

    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 15.15%,
      0% 15.15%,
      0% 16.665%,
      100% 16.665%,
      100% 31.815%,
      0% 31.815%,
      0% 33.33%,
      100% 33.33%,
      100% 48.48%,
      0% 48.48%,
      0% 49.995%,
      100% 49.995%,
      100% 65.145%,
      0% 65.145%,
      0% 66.66%,
      100% 66.66%,
      100% 81.81%,
      0% 81.81%,
      0% 83.325%,
      100% 83.325%,
      100% 98.475%,
      0% 98.475%
    );

    mix-blend-mode: lighten;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* .menu-item-main:nth-child(1){
    background-image: linear-gradient(
      to right top,
      rgba(10, 54, 60, 0.363) 0%,
      rgba(15, 89, 100, 0.377) 51%,
      rgba(84, 113, 116, 0.281) 100%
    );
      color: rgba(160, 174, 175, 1);
      backdrop-filter: blur(12px);
  }

  .menu-item-main:nth-child(2){
    background-image: linear-gradient(
      to right top,
      rgba(145, 120, 58, 0.63) 0%,
      rgba(15, 89, 100, 0.377) 10%,
      rgba(84, 113, 116, 0.281) 100%
    );
      color: rgba(160, 174, 175, 1);
      backdrop-filter: blur(12px);
  }

  .menu-item-main:nth-child(3){
    background-image: linear-gradient(
      to right top,
      rgba(145, 120, 58, 0.63) 0%,
      rgba(15, 89, 100, 0.377) 30%,
      rgba(84, 113, 116, 0.281) 100%
    );
      color: rgba(160, 174, 175, 1);
      backdrop-filter: blur(12px);
  }

  .menu-item-main:nth-child(4){
    background-image: linear-gradient(
      to right top,
      rgba(145, 120, 58, 0.63) 0%,
      rgba(15, 89, 100, 0.377) 10%,
      rgba(84, 113, 116, 0.281) 100%
    );
      color: rgba(160, 174, 175, 1);
      backdrop-filter: blur(12px);
  } */

  .menu-item-main:nth-child(5) {
    background-color: rgba(145, 121, 58, 1);
    color: rgba(160, 174, 175, 1);
  }

  /* .menu-item-main:nth-child(6){
    background-image: linear-gradient(
      to right top,
      rgba(145, 120, 58, 0.63) 0%,
      rgba(15, 89, 100, 0.377) 10%,
      rgba(84, 113, 116, 0.281) 100%
    );
      color: rgba(160, 174, 175, 1);
      backdrop-filter: blur(12px);
  }  */
}
