/*//////- MOBILE ADAPTIVE CSS -//////*/
@media only screen and (max-width: 470px) {

    @keyframes blink {
        0% { opacity: 1; }
        33% { opacity: 0; }
        66% { opacity: 0; }
        100% { opacity: 1; }
      }

  /*HIDE MAIN CSS*/
  .exposition-button {
    visibility: collapse;
  }
  .menu-button {
    visibility: collapse;
  }
  .guest-button {
    visibility: collapse;
  }
  .contacts-button {
    visibility: collapse;
  }
  .about-us-button {
    visibility: collapse;
  }
  .vine-gallery-button {
    visibility: collapse;
  }

  .exposition-line {
    visibility: collapse;
  }

  .bron-line {
    visibility: collapse;
  }
  .contacts-line {
    visibility: collapse;
  }
  .guest-line {
    visibility: collapse;
  }
  .vine-gallery-line {
    visibility: collapse;
  }
  .menu-line {
    visibility: collapse;
  }
  .menu-item {
    visibility: collapse;
  }
  .column-container {
    width: 470px;
  }
  .content-img {
    visibility: collapse;
  }
  .footer-contacts {
    visibility: collapse;
  }
  .footer-logo {
    visibility: collapse;
  }
  /*MAIN MOBILE CSS*/


  .mainFirstMobileImg {
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    visibility: visible;

    animation: blink 9s infinite;
    opacity: 0;
  }

  .mainSecondMobileImg {
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    visibility: visible;

    animation: blink 9s infinite;
    animation-delay: 3s;
  }

  .mainThirdMobileImg {
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    visibility: visible;

    animation: blink 9s infinite;
    animation-delay: 6s;

  }

  .mobile-header-gradient {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.9;
    visibility: visible;
  }
  .mobile-menu-button {
    position: absolute;
    cursor: pointer;
    left: 28px;
    top: 42px;
    z-index: 1;
    width: 24px;
    height: 20px;
    visibility: visible;
  }

  .header-logo {
    position: absolute;
    z-index: 1;
    width: 317.77px;
    height: 89px;
    left: 18%;
  }

  .header {
    width: 100%;
  }

  .column-container{
    height: 75%;
  }
  .expandable-button{
    position: absolute;
    top: 5px;
    left: 0;
    width: 420px;
    height: 75px;
    cursor: pointer;
    backdrop-filter: blur(5px); /* blur effect to the backdrop */
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    border-color: white;
    border-radius: 10px;
    color: white;
    border-style:solid;
    border-width: 1px;
    font-size: 26px;
    font-weight: 100;
    padding: 20px 15px 20px 15px;
   
  }
  .bron-button {

  }

  .footer {
    position: absolute;
    display: flex;
  }
  .footer-button {
    visibility: hidden;
  }
}
