.archives-main {
  display: flex;
  background-image: url("/img/background-yellow.png");
}

.window-one-archives {
  width: 350px;
  height: 633px;
  left: 160px;
  top: 40px;
  margin-left: 40px;
  margin-right: 200px;
  border-radius: 15px;
  background-image: url("/img/cards-1.png");
}

.window-two-archives {
  width: 350px;
  height: 633px;
  left: 720px;
  top: 40px;
  margin-right: 200px;
  border-radius: 15px;
  background-image: url("/img/cards-2.png");
}

.window-tree-archives {
  width: 350px;
  height: 633px;
  left: 1280px;
  top: 40px;
  border-radius: 15px;
  background-image: url("/img/cards-3.png");
}

.with-love-text-archives {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-concentration-text-archives {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-profession-text-archives {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.awards-image-archives {
  width: 301px;
  margin-top: 200px;
justify-content: center;
align-items: center;
}

.with-love-image-archives {
}

.with-love-image-archives {
}

.team-profession-image-archives {
}

.description-with-love-label-archives {
  width: 380px;
  height: 78px;
  margin-top: 100px;
  font-family: "Futura New";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  display: table-cell;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.description-our-concentration-archives {
margin-top: 100px;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 125%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
color: #ffffff;

}

.description-awards-archives {
margin-top: 100px;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 125%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
color: #ffffff;

}

.reserve-a-table-button-archives {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    width: 80%;
    left: 20px;
    top: 250px;    
    border: 2px solid #FFFFFF;
    border-radius: 15px;
}
