.category-main {
  display: flex;
}

.window-one-category {
  width: 350px;
  height: 633px;
  left: 160px;
  top: 40px;
  border-radius: 15px;
  background-image: url("https://i.ibb.co/4Znp481/2-cards-1.png");
}

.window-two-category {
  width: 350px;
  height: 633px;
  left: 720px;
  top: 40px;
  border-radius: 15px;
  background-image: url("https://i.ibb.co/dKz8c7R/3-cards.png");
}

.window-tree-category {
  width: 350px;
  height: 633px;
  left: 1280px;
  top: 40px;
  border-radius: 15px;
  background-image: url("https://i.ibb.co/3m70Q8m/4-cards.png");
}

.with-love-text-category {
    top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-concentration-text-category {
}

.team-profession-text-category {
}

.awards-image-category {
}

.with-love-image-category {
}

.with-love-image-category {
}

.team-profession-image-category {
}

.description-with-love-label-category {
  width: 380px;
  height: 78px;

  font-family: "Futura New";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  /* or 28px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  /* White */

  color: #ffffff;
}

.description-our-concentration-category {
}

.description-awards-category {
}

.reserve-a-table-button-category {
  width: 80%;
  margin-top: 0 auto;
  border-width: 1px;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 10px;
}
