body {
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.content-view {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.content-img {
  position: absolute;
  height: calc(100vh - 14vh);
  width: calc((3500 * (100vh - 12.5vh)) / 1100);
  justify-content: left start;
  z-index: -1;
  top: 0;
  left: 0;
}

.exposition-button {
  width: 13%;
  position: absolute;
  left: 3%;
  top: 18%;
  z-index: 1000;
  font-size: 14px;
}
.exposition-line {
  position: absolute;
  width: 4%;
  left: 15%;
  top: 22%;
}
.exposition-view {
  position: absolute;
  z-index: 1;
  top: 9px;
  left: 0;
  border-bottom-left-radius: 15px;
  background-color: white;
  width: 350px;
  height: 150px;
}

.exposition-text{
  margin-top: 55px;
  color: rgba(145, 121, 58, 1);
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  white-space:break-spaces;
}


.expandable-button {
  background-color: rgba(145, 121, 58, 1);
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9px;
  font-size: 100%;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  margin: 0;
}

.about-us-button {
  width: 15.5%;
  position: absolute;
  left: 69.5%;
  top: 56.5%;
  font-size: 14px;
}

.about-us-view {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 128px;
  height: 130x;
  padding: 20px 55px 20px 55px;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: url("https://i.ibb.co/SJZWQcd/art-image.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.about-us-paragraph {
  margin-top: 35px;
}
.art-img {
}
.menu-button {
  width: 15%;
  min-width: 250px;
  position: absolute;
  left: 32%;
  top: 47.2%;
  font-size: 14px;
}
.menu-line {
  width: 5.5%;
  position: absolute;
  left: 34.5%;
  top: 41%;
}

.bron-button {
  width: 16%;
  position: absolute;
  left: 8%;
  top: 67%;
  font-size: 12px;
}
.bron-line {
  width: 2.1%;
  position: absolute;
  left: 14.5%;
  top: 60%;
}

.guest-button {
  width: 16%;

  position: absolute;
  left: 46%;
  top: 22%;
  font-size: 12px;
}
.guest-line {
  width: 2%;
  position: absolute;
  left: 54.5%;
  top: 26.5%;
}

.contacts-button {
  width: 15.5%;
  position: absolute;
  left: 85.2%;
  top: 27%;
}
.contacts-line {
  width: 118px;
  height: 73px;
  position: absolute;
  left: 93%;
  top: 31%;
}
.vine-gallery-button {
  position: absolute;
  width: 16%;
  left: 110%;
  top: 37%;
  border-radius: 30px;
}

.vine-gallery-line {
  position: absolute;
  width: 100px;
  height: 48px;
  left: 117%;
  top: 32%;
}

.first-side-icon {
  position: absolute;

  left: 20px;
}
.second-side-icon {
  position: absolute;
  left: 20px;
}
.third-side-icon {
  position: absolute;
  left: 20px;
}
.fourth-side-icon {
  position: absolute;
  left: 20px;
}
