.header {
    width: 100%;
    display: flex;
    padding-top: 40px; 
    background-size: auto 100%;
}

.header-logo {
    display: flex;
    align-items: stretch;
    width: 225px;
    height: 60px;
    padding-right: 20%;
    padding-left: 3%;
    cursor: pointer;
}

vaadin-menu-bar-item {
    cursor: pointer;
    padding-top: 20px;
    padding-left: 30px;
    
}

vaadin-menu-bar-button {
    background-color: transparent;
}
vaadin-menu-bar-button::before {
    background-color: transparent;   
}




