.picture {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 30%;
    background: #002024;
    border-radius: 15px;
    z-index: 1000;
    overflow: hidden;
}

.test-div{
    display: flex;
    justify-content: center;

}

.picture-main {
    display: flex;
    width: 100%;
    margin-left: 5vw;
    margin-bottom: 3vh;
}

.main-picture-text {
    width: 100%;
    font-size: 20px;
    margin-left: 5vw;
    margin-bottom: 3vh;
    color: rgba(127, 110, 55);
}

.image-picture {
    width: 80%;
    padding-left: 16%;
    padding-right: 16%;
    padding-top: 4%;
}

.avatar {
    width: 45px;
    height: 45px;
}

.picture-sub {
    display: grid;
    margin-left: 2%;
}

.data-person {
    display: contents;
    margin-left: 2%;
    font-size: 15px;
    color: rgba(160, 174, 175, 1);
}

.description-picture {
    width: calc(100% - 5vw);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    font-size: 10px;
    color: rgba(160, 174, 175, 1);
}
