.reserve-view {
    background-color: rgba(0, 32, 36, 1);
    width: 650px;
    height: 750px;
    border-radius: 15px;
    color: aliceblue;
}

.reserve-items {
    display: grid;
    padding: 10%;
}

.header-text {
    color: rgba(145, 121, 58, 1);
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.header-text::after{
    font-weight: 1px;
}

.reminder-text {
    position: relative;
    font-size: 20px;
    top: 65px;
    left: 73px;
    color: rgba(160, 174, 175, 1);
    font-size: 18px;
    font-weight: 400;
}

.info-text {
    position: relative;
    font-size: 15px;
    top: 100px;
    left: 90px;
    color: rgba(99, 121, 122, 1);
    font-size: 15px;
    flex-direction: column;
    width: 350px;

}

.name-text {
    color: rgba(160, 174, 175, 1);
}

.reserve-button {
    width: 380px;
    height: 55px;
    background-color:  rgba(145, 121, 58, 1);
    color: white;
    cursor: pointer;
    border-radius: 15px;
    left: 70px;
    top: 35px;
    font-size: 20px;
    font-weight: 300;
}

.guest-count-text {
    color: rgba(160, 174, 175, 1);
}
.guest-count-text::placeholder {
    color: rgba(160, 174, 175, 1);
}
.phone-number-text {
    color: rgba(160, 174, 175, 1);
}

vaadin-text-field > label {
    color: rgba(145, 121, 58, 1);
    font-weight: 700;
}

vaadin-text-field > [slot="prefix"] {
    color: rgba(145, 121, 58, 1);
    padding-right: 10px;
}
vaadin-date-picker > input:placeholder-shown {
    color: rgba(160, 174, 175, 1);
}
vaadin-time-picker > input:placeholder-shown {
    color: rgba(160, 174, 175, 1);
}
vaadin-text-field::part(input-field) {
    background-color: transparent; 
    border-bottom: 1px solid rgb(145, 121, 58, 1);
    border-radius: 0;

}
vaadin-date-picker::part(input-field) {
    background-color: transparent; 
    border-bottom: 1px solid rgb(145, 121, 58, 1);
    border-radius: 0;
    width: 170px;
    color: rgba(160, 174, 175, 1);
}
vaadin-time-picker::part(input-field) {
    background-color: transparent; 
    border-bottom: 1px solid rgb(145, 121, 58, 1);
    border-radius: 0;
    width: 100px;
}

vaadin-date-time-picker > [slot="prefix"] {
    padding-right: 2000px;
}

