.reserve-view {
    background-color: rgba(0, 32, 36, 1);
    width: 650px;
    height: 650px;
    border-radius: 15px;
    color: aliceblue;
}

.reserve-items {
    display: grid;
    padding: 10%;
}

.header-text {
    color: rgba(145, 121, 58, 1);
    font-size: 35px;
    letter-spacing: 0.5px;
}

.header-text::after{
    font-weight: 1px;
}

.reminder-text {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 5%;
    color: rgba(160, 174, 175, 1);
    font-size: 22px;
}

.info-text {
    font-size: 15px;
    margin-top: 30px;
    color: rgba(99, 121, 122, 1);
    font-size: 15px;
    flex-direction: column;
    width: 350px;
    margin-left: 15%;
}

.name-text {
    color: rgba(160, 174, 175, 1);
}

vaadin-text-field > input:placeholder-shown {
    color: rgba(160, 174, 175, 1);
}
vaadin-text-field > [slot="prefix"] {
    color: rgba(145, 121, 58, 1);
    padding-right: 10px;
}
vaadin-date-picker > input:placeholder-shown {
    color: rgba(160, 174, 175, 1);
}
vaadin-time-picker > input:placeholder-shown {
    color: rgba(160, 174, 175, 1);
}
vaadin-text-field::part(input-field) {
    background-color: transparent; 
    border-bottom: 1px solid rgb(145, 121, 58, 1);
    border-radius: 0;

}
vaadin-date-picker::part(input-field) {
    background-color: transparent; 
    border-bottom: 1px solid rgb(145, 121, 58, 1);
    border-radius: 0;
    width: 170px;

}
vaadin-time-picker::part(input-field) {
    background-color: transparent; 
    border-bottom: 1px solid rgb(145, 121, 58, 1);
    border-radius: 0;
    width: 100px;
}

vaadin-date-time-picker > [slot="prefix"] {
    padding-right: 2000px;
}

