@import url('./header.css');
@import url('./footer.css');
@import url('./content-view.css');
@import url('./reserve-form.css');
@import url('./contacts-view.css');
@import url('./reserve.css');
@import url('./vine-list-item.css');
@import url('./picture-list-item.css');
@import url('./dish.css');
@import url('./category.css');
@CssImport(value = "styles/components/vaadin-checkbox.css", themeFor = "vaadin-checkbox");

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Light Reg'), local('Futura-New-Light-Reg'),
        url('FuturaNewLight-Reg.woff2') format('woff2'),
        url('FuturaNewLight-Reg.woff') format('woff'),
        url('FuturaNewLight-Reg.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}