.window-items{
    display: grid;
    padding: 5px;
}

.window-main-items{
    display: grid;
    padding: 5px;
}

.window-one-items{
    padding: 5px;
}

.window-two-items{
    padding: 5px;
}

.window-tree-items{
    display: grid;
    padding: 5px;
}

.window{
    background: #002024;
    border-radius: 15px;
}

.mainWindow{
    margin: 10px 0px 0px 0px;
    border: none;
    border-radius: 0;
    color: rgba(127, 110, 55);
    background-color: transparent;
    font-size: 25px;
}



.subMain {
    margin: 0;
    border: none;
    border-radius: 0;
    font-size: 15px;
    color: rgba(127, 110, 55);
    background-color: transparent;   
    
}



.sparklingWineOrChampagne{
    width: 45%;
    margin-right: 5%;
    font-size: 11px;
    border-bottom: 1px solid rgba(127, 110, 55);

}

.region{
    width: 45%;
    margin-right: 5%;
    font-size: 11px;
    border-bottom: 1px solid rgba(127, 110, 55);
}

.grape{
    width: 100%;
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.fortress{
    width: 18%;
    margin-right: 5%;
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.volume{
    width: 24%;
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.perfectFor{
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.andAlso{
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.manufacturer {
    width: 48%;
    font-size: 11px;

    border-bottom: 1px solid rgba(127, 110, 55);
}

.signUpForATasting{
    font-size: 15px;
    cursor: pointer;
    width: 40%;
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
}

vaadin-text-field::part(input-field) {
    border: none;
    border-radius: 0;
    border-color: rgba(145, 121, 58, 1);
    background-color: transparent;   
}

vaadin-text-field::part(label){
    font-size: 14px;

    color: rgba(145, 121, 58, 1);
    

}

vaadin-text-field::part(input-field){
    color: rgba(160, 174, 175, 1);
    
    
}
